header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--cor-fundo-1);
  box-sizing: border-box;
  z-index: 1000;
}

.ajuste-navegacao {
  display: flex;
  gap: 1rem;
}

.navegacao {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.lista-navegacao {
  display: flex;
  gap: 1rem;
}

.link-navegacao svg path {
  fill: var(--cor-texto);
}

.img-logo-header {
  width: 2rem;
  height: 2rem;
}

/* botão tema */

.controle-tema {
  margin: auto;
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-modo-light path,
.btn-modo-dark path {
  fill: var(--cor-texto);
}

.btn-modo-light,
.btn-modo-dark {
  position: absolute;
  inset: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width: 900px) {
  header {
    height: 70px;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 1rem;
  }

  .link-navegacao svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .img-logo-header {
    width: 1.8rem;
    height: 1.8rem;
  }
}