.tabela-responsiva {
    width: 100%;
    overflow-x: auto;
}

.tabela-responsiva table {
    width: 100%;
    min-width: 600px; /* ou o valor mínimo que sua tabela precisa */
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--cor-fundo);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: var(--verde-md);
    font-family: "Ubuntu", sans-serif;
    font-weight: var(--fw-regular);
    font-size: var(--fs-heading-lg-sm);
    text-align: center;
    margin: .8rem 0 .5rem 0;
    color: var(--branco);
}

tr {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    /* margin: .1rem 0; */
    color: var(--cor-texto);
}

tr:hover {
    background-color: var(--cor-fundo-1);
}

/* Responsividade extra para telas pequenas */
@media (max-width: 600px) {
    .tabela-responsiva table {
        min-width: 400px;
        font-size: 0.95rem;
    }
}