footer {
    padding: 1rem 4rem;
    box-shadow: 0 2px 10px 2px #0000003c;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-e-slogan {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-logo {
    display: inline-flex;
    gap: .5rem;
}

.footer-logo-titulo {
    width: 200px;
    height: min-content;
}

.footer-logo-titulo path {
    fill: var(--cor-texto);
}

.footer-logo-olho {
    width: 35px;
}

.footer-nav ul {
    display: inline-flex;
    gap: 1rem;
}

.footer-contato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-contato svg {
    width: 30px;
    height: 30px;
}

.footer-contato svg path {
    fill: var(--cor-texto);
}

.footer-slogan, .footer-nav ul a, .footer-contato p{
    font-family: "Ubuntu", sans-serif;
    font-weight: var(--fw-regular);
    font-size: var(--fs-heading-lg-sm);
}

@media screen and (max-width: 600px) {
    footer {
        padding: 1rem 1rem;
    }

    .footer-flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .footer-contato {
        flex-direction: column;
    }
}