.mapa img {
    width: 80%;
    margin: 0 auto;
}

.mapa-creditos {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    text-align: right;
}

.mapa-legenda {
    margin: 1rem 0;
}

.legenda-titulo {
    font-family: "Ubuntu", sans-serif;
    font-weight: var(--fw-regular);
    font-size: var(--fs-heading-lg-sm);
}

.legenda-linha {
    margin: .5rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.descricao-cor {
    width: 30px;
    height: 30px;
}

.legenda-descricao .legenda-linha:nth-child(1) .descricao-cor {
  background-color: #14A36A;
}

.legenda-descricao .legenda-linha:nth-child(2) .descricao-cor {
  background-color: #EEEB4A;
}

.legenda-descricao .legenda-linha:nth-child(3) .descricao-cor {
  background-color: #1F9B9E;
}

.legenda-descricao .legenda-linha:nth-child(4) .descricao-cor {
  background-color: #BC2035;
}

.legenda-descricao .legenda-linha:nth-child(5) .descricao-cor {
  background-color: #794198;
} 

.legenda-descricao .legenda-linha:nth-child(6) .descricao-cor {
  background-color: #6F442D;
}