/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button, textarea, select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* CONTAINER  de 800px */
.container {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botão */
.botao {
    background-color: var(--verde-es);
    color: var(--branco);
    padding: .5rem 1rem;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}