/* Carrossel PFNMs - sobrePFNMs.html */ 
/* Feito apenas com html e css */
.container-slider{
    position: relative;
    margin: 3rem 0;
}
.container-slider .wrapper{
    width: calc(100% - 10%);
    max-width: 800px;
   aspect-ratio: 16/9;
    margin: 2rem auto;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.562);
    border-radius: 10px;
}

.container-slider .slider-holder{
    display: grid;
    grid-template-columns: repeat(5, 100%);
    height: 100%;
    animation: slide 15s ease infinite;
}

.container-slider #slider-image-1{
    background: url('/frontend/src/assets/fotos-pfnms/castanha-do-Pará-casca.webp');
    background-size: cover;
}
.container-slider #slider-image-2{
    background: url('/frontend/src/assets/fotos-pfnms/cafe-imagem.webp');
    background-size: cover;
}
.container-slider #slider-image-3{
    background: url('/frontend/src/assets/fotos-pfnms/andiroba-img.jpg');
    background-size: cover;
}
.container-slider #slider-image-4{
    background: url('/frontend/src/assets/fotos-pfnms/acai-img.jpg');
    background-size: cover;
}
.container-slider #slider-image-5{
    background: url('/frontend/src/assets/fotos-pfnms/guara-img.jpeg');
    background-size: cover;
}
.container-slider .button-holder{
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
}
.container-slider .button-holder .dots{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 3rem;
    background-color: beige;
    margin: .4rem .3rem;
}

@keyframes slide{
    0%{transform: translateX(0%);}
    10%{transform: translateX(0%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-100%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-400%);}
    90%{transform: translateX(-400%);}
    100%{transform: translateX(0%);}
}

@media screen and (max-width: 600px) {
    
}
