.module-form {
    width: 100%;
    height: auto;
    padding: 1rem;
    box-shadow: 0 10px 15px 2px #0000003c;
    border-radius: 10px;
}

.module-form__titulo {
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
}

.module-form__conjunto {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    margin: 1rem 0;
}

.module-form__conjunto__titulo {
    font-size: 1.1rem;
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
}

.module-form__label {
    font-size: 1rem;
    font-weight: var(--fw-medium);
}

.module-form__input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: var(--cor-fundo-1);
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.module-form__input-textarea {
    width: 100%;
    resize: vertical;
}

.module-form__btn {
    display: block;
    background-color: var(--cor-fundo-1);
    padding: 0.8rem 2rem;
    border-radius: 15px;
    margin: 2rem auto 0 auto;
}

/* Sections no form */

.form-section {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding: 1rem 0;
}

.form-section.active {
    display: block;
    opacity: 1;
}

.form-section__btns {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 100%;
}

.form-section__prev-btn {
    margin-right: auto;
}

.form-section__next-btn {
    margin-left: auto;
}

.form-section__prev-btn,
.form-section__next-btn {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.form-section__prev-btn svg,
.form-section__next-btn svg {
    fill: var(--cor-texto);
}