$branco: #fefefe;
$cinza-cl: #dfdfe2;
$cinza-md: #272727;
$cinza-es: #1f1f1f;
$vermelho-cl: #ff8b8b;
$vermelho-md: #d84040;
$vermelho-es: #9e1a1a;
$verde-cl: #bedabf;
$verde-md: #7cb683;
$verde-es: #325935;